* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --header-footer-height: 80px;
    --screen-height: calc(100vh - var(--header-footer-height));
    --green-color: #28a745;
    --red-color: #dc3545;
    --gradient: linear-gradient(40deg, #ff562c, #feb47b);
    --darker-gradient: linear-gradient(40deg, #fe3e0e, #ff994b);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    height: 100vh;
}

ul {
    list-style-type: none;
}

header {
    height: var(--header-footer-height);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#logo {
    font-size: max(16px, 2vw);
    font-weight: bold;
    font-family: Kumar One, cursive;
    color: #333;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    user-select: none;
    height: 100%;
    display: flex;
    align-items: center;
}

#nav {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.nav-button {
    text-decoration: none;
    border: none;
    color: #333;
    font-size: 24px;
}

.nav-button:hover {
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
}

.nav-button.current {
    background-image: var(--darker-gradient);
    color: transparent;
    background-clip: text;
    cursor: default;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    display: none;
}

main {
    display: flex;
    justify-content: center;
    height: var(--screen-height);
}

button {
    cursor: pointer;
}

.screen {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
    width: 100%;
}

#main-screen {
    height: 100%;
}

#player-name, #change-player-name {
    margin: 20px 0;
    font-size: max(16px, 2vw);
    text-align: center;
    width: 400px;
    font-family: Kumar One, cursive;
}

.bg-img {
    position: absolute;
    bottom: 20px;
    width: 50vw;
    max-width: 200%;
    max-height: 100vh;
    transition: transform 0.3s ease;
    height: 100%;
    overflow: visible;
    z-index: -1;
    transition: transform 1s ease;
}

.bg-img.left {
    left: 20px;
    background: url(./images/character-pobo.svg) no-repeat left bottom;
    background-size: 60% auto;
    aspect-ratio: 1 / 1;
}

.bg-img.right {
    right: 20px;
    background: url(./images/character-plek.svg) no-repeat right bottom;
    background-size: 80% auto;
    aspect-ratio: 1 / 1;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--header-footer-height);
    padding: 20px;
}

.main-button {
    padding: 10px 20px;
    font-size: 46px;
    font-family: Kumar One, cursive;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    border: none;
    border-radius: 5px;
    transition: background-image 0.6s ease;
    align-self: center;
}

.main-button:hover {
    background-image: var(--darker-gradient);
    transform: translate(0, 2px);
}

.main-button:hover ~ .bg-img.right {
    transform: translateX(-80px);
}

.main-button:hover ~ .bg-img.left {
    transform: translateX(80px);
}

.main-button:disabled {
    cursor: not-allowed;
    background-image: none;
    color: #ccc;
}

#copyright {
    font-size: max(8px, 0.8vw);
    color: #666;
}

#choose-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.screen-title {
    margin: 20px 0;
    font-size: max(16px, 2vw);
    position: fixed;
    top: var(--header-footer-height);
    width: 100%;
    text-align: center;
    align-self: center;
    font-family: Kumar One, cursive;
}

#fighters {
    display: flex;
    align-items: center;
    top: 2%;
    height: 90%;
    width: 100%;
    overflow-x: scroll;
    position: fixed;
    overflow-x: hidden;
    mask-image: linear-gradient(to left, transparent 15%, black 30%, black 70%, transparent 85%);
}

#fighters::-webkit-scrollbar {
    display: none;
}

.fighter {
    min-width: 350px;
    width: 350px;
    height: 50%;
    margin: 0 25px;
    user-select: none;
}

.fighter-image {
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    pointer-events: none;
    -webkit-user-drag: none;
}

.fighter-name {
    font-size: max(12px, 1.5vw);
    font-weight: bold;
    margin-top: 10px;
}

.fighter-description {
    font-size: max(10px, 1vw);
    margin-top: 5px;
}

.fighter-stats {
    font-size: max(8px, 0.8vw);
    color: #666;
    font-family: Kumar One, cursive;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.green {
    color: var(--green-color);
}

.red {
    color: var(--red-color);
}

.name-and-health {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Kumar One, cursive;
}

.control-button {
    position: fixed;
    user-select: none;
    top: 40%;
    z-index: 10;
    cursor: pointer;
    font-size: max(36px, 5vw);
    font-family: Kumar One;
    transition: background-image 0.6s ease, transform 0.3s ease;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
}

.control-button#left-arrow {
    left: 50px;
}

.control-button#right-arrow {
    right: 50px;
}

.control-button:hover {
    background-image: var(--darker-gradient);
}

.control-button#left-arrow:hover {
    background-image: var(--darker-gradient);
    transform: translate(2px, 0);
}

.control-button#right-arrow:hover {
    background-image: var(--darker-gradient);
    transform: translate(-2px, 0);
}



.fighter:nth-child(3) .fighter-image {
    transform: scale(1.15);
    transform-origin: center bottom;
}

/* I will probably need this for the damage animation
.fighter:nth-child(3):hover .fighter-image  {
    transform: scale(1.17);
    transform-origin: center bottom;
    filter: drop-shadow(0 0 6px #ff994b);
}
*/

#choose-screen:has(#choose-button:hover) .fighter:nth-child(3):not(.secret) .fighter-name {
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
}

#choose-button {
    position: fixed;
    bottom: 20px;
    align-self: center;
}

#game-area {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    height: 100%;
    width: 80%;
    position: relative;
}

.fighter {
    text-align: center;
}

.fighter-name {
    font-family: Kumar One, cursive;
    font-size: max(12px, 1.5vw);
    font-weight: bold;
    margin: 10px 0;
}

.health-bar {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    color: var(--red-color);
}

.health-bar::-webkit-progress-value { background: var(--red-color); }
.health-bar::-moz-progress-bar { background: var(--red-color); }

.fighter-health {
    font-family: Kumar One, cursive;
}

#fight-controls {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    
}

#defend-zones input {
    accent-color: var(--green-color);
}

#attack-zones input {
    accent-color: var(--red-color);
}

#actions-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

#actions-selector fieldset {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 10px;
    column-gap: 5px;
    border: none;
}

#actions-selector fieldset .fight-instructions {
    grid-column: 1 / span 2;
}

#actions-selector fieldset label {
    font-family: Kumar One, cursive;
}

#fight-log {
    grid-column: 1 / span 2;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Kumar One, cursive;
    font-size: max(8px, 0.8vw);
}

#stats-content {
    width: 400px;
    padding: 10px;
    font-family: Kumar One, cursive;
    font-size: max(8px, 0.8vw);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.highlight {
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    font-weight: bold;
}

.secret-fighter-notice {
    margin: auto auto;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid var(--red-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    gap: 10px;
}

.secret-fighter-notice form p {
    margin-bottom: 10px;
}